<div class="row">
    
    <!--カテゴリ-->
    <div class="col-3">
        <%= render 'public/submissions/category' %>
    </div>
    
    
    <div class="col-9">
        <h3 class="py-3 px-4 text-secondary">マイページ</h3>
        
        <div class="">
            <p><%= image_tag @customer.get_profile_image(400,400) %></p>
            <p><%= @customer.name %></p>
            <p><%= @customer.email %></p>
            <p><%= link_to "プロフィール編集", edit_customer_path %></p>
        </div>
        
        <h3 class="py-3 px-4 text-secondary">投稿履歴</h3>
        
        <div>
          <% @submissions.each do |submission| %>
            <ul>
                <li>
                    <%= image_tag submission.get_image(400,400) %>
                </li>
                <li>
                    <label for="">商品名</label>
                    <%= submission.name %>
                </li>
                <li>
                    <%= link_to "詳細", show_submission_path(submission.id) %>
                </li>
                <li>
                    <%= submission.created_at.strftime('%Y/%m/%d') %>
                </li>
            </ul>
          <% end %>
        </div>
    </div>
</div>