<div class="row">
    
    <!--カテゴリ-->
    <div class="col-3 ml-1">
        <%= render 'public/submissions/category' %>
    </div>
    
    
    <div class="col-8">
        
        <div class="mt-3">
          <h3 class="text-secondary"><strong>マイページ</strong></h3>
        </div>
        
        <div class="row">
            <div class="col-6">
                <p class=""><%= image_tag @customer.get_profile_image(400,400) %></p>
            </div>
            
            <div class="col-6 my-auto">
              <table class="table text-center border">
                <tbody>
                  <tr>
                    <th class="border-right">NAME</th>
                    <th><%= @customer.name %></th>
                  </tr>
                  
                  <tr>
                    <th class="border-right">MAIL</th>
                    <th><%= @customer.email %></th>
                  </tr>
                  
                </tbody>
              </table>
              <p class="text-center">
                <%= link_to edit_customer_path do %>
                  <button type="button" class="btn btn-secondary">プロフィール編集</button>
                <% end %>
              </p>
            </div>
            
        </div>
        
        <div class="mt-3">
          <h3 class="text-secondary"><strong>投稿履歴</strong></h3>
        </div>

        
          <div class="container py-3 mx-5">
            <% @submissions.each do |submission| %>
              <%= link_to public_submission_path(submission.id) do %>
              <div class="row border border-dark mb-3 pt-3">
                <div class="col-4">
                  <p class="">
                    <%= image_tag submission.get_image(150,150) %>
                  </p>
                </div>
                
                <div class="col-8">
                  <p class="h5 text-dark">
                    <strong><%= submission.name %></strong>
                  </p>
                  
                  <p class="text-dark text-right">
                    カテゴリ：
                    <% if submission.genre_id == 1 %>
                      歯ブラシ
                    <% elsif submission.genre_id == 2 %>
                      歯磨き粉
                    <% elsif submission.genre_id == 3 %>
                      補助的清掃用具
                    <% elsif submission.genre_id == 4 %>
                      洗口液
                    <% elsif submission.genre_id == 5 %>
                      ホワイトニング用品
                    <% else submission.genre_id == 6 %>
                      口臭ケア用品
                    <% end %>
                  </p>
                  
                  <p class="text-dark text-right">
                    <%= submission.created_at.strftime('%Y/%m/%d') %>
                  </p>
                  
                </div>
              </div>
              <% end %>
            <% end %>
        </div>

    </div>
</div>

        
        
