<main>
    
    <div>
      <h4>カテゴリ</h4>
        <ul>
            <li><%= link_to "歯ブラシ", submission_genre1_path %></li>
            <li><%= link_to "歯磨き粉", submission_genre2_path %></li>
            <li><%= link_to "補助的清掃用具", submission_genre3_path %></li>
            <li><%= link_to "洗口液", submission_genre4_path %></li>
            <li><%= link_to "ホワイトニング用品", submission_genre5_path %></li>
            <li><%= link_to "口臭ケア用品", submission_genre6_path %></li>
        </ul>
    </div>
    
    
    <div class="">
        <h3>ランキング</h3>
        
        <div>
            1位
            2位
            3位
        </div>
    </div>
    
</main>