<div class="container">
   
    <div class="col-12">
      
        <div class="row">
          <div class="mt-3">
            <h3 class="text-secondary"><strong>会員詳細</strong></h3>
          </div>
          
        <div class="container pb-3 mx-5">
            <div class="row">
                <div class="col-4 text-center">
                    <p class=""><%= image_tag @customer.get_profile_image(200,200) %></p>
                    
                    <table class="table text-center border">
                        <tbody>
                            <tr>
                                <td class="border-right">会員ID</td>
                                <td><%= @customer.id %></td>
                            </tr>
                            <tr>
                                <td class="border-right">氏名</td>
                                <td><%= @customer.name %></td>
                            </tr>
                            <tr>
                                <td class="border-right">アドレス</td>
                                <td><%= @customer.email %></td>
                            </tr>
                            <tr>
                                <td class="border-right">ステータス</td>
                                <td>
                                    <% if @customer.is_deleted %>
                                        退会
                                    <% else %>
                                        有効
                                    <% end %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <%= link_to edit_admin_customer_path do %>
                      <button type="button" class="btn btn-secondary">編集</button>
                    <% end %>
                </div>
                
                <div class="col-8 mx-auto mt-3">
                    <div class="mt-3">
                        <h3 class="text-secondary"><strong>投稿一覧</strong></h3>
                    </div>
                    
                    <div class="container py-3 mx-5">
                      <%= render 'admin/submissions/list', submissions: @submissions %>
                    </div>
                </div>
                
                
            </div>
        </div>

    </div>
    
</div>
