<h2>新規登録</h2>

  <%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div>
    <%= f.label "ニックネーム" %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "パスワード(6文字以上)" %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "パスワード(確認)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label "年齢" %><br />
    <select name="id" id="id">
      <option value="1">~10代</option>
      <option value="2">20代</option>
      <option value="3">30代</option>
      <option value="4">40代</option>
      <option value="5">50代</option>
      <option value="6">60代</option>
      <option value="7">70代</option>
      <option value="8">80代~</option>
    </select>
  </div>
  
  <div>
    <%= f.label "性別" %><br />
    
  </div>
  
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
  
  <% end %>

<%= render "public/shared/links" %>
