    <div class="bg-secondary">
    <div class="my-2 py-2 px-3">
        <h4 class="text-white">カテゴリ</h4>
        <table class="table table-bordered border-white">
            <tbody>
                <tr>
                    <th>
                        <%= link_to("投稿一覧", index_submission_path, {class: "text-white"}) %>
                    </th>
                </tr>
                <tr>
                    <th class="">
                        <%= link_to("歯ブラシ", submission_genre1_path, {class: "text-white"}) %>
                    </th>
                </tr>
                <tr>
                    <th class="">
                        <%= link_to("歯磨き粉", submission_genre2_path, {class: "text-white"}) %>
                    </th>
                </tr>
                <tr>
                    <th class="">
                        <%= link_to("補助的清掃用具", submission_genre3_path, {class: "text-white"}) %>
                    </th>
                </tr>
                <tr>
                    <th class="">
                        <%= link_to("洗口液", submission_genre4_path, {class: "text-white"}) %>
                    </th>
                </tr>
                <tr>
                    <th class="">
                        <%= link_to("ホワイトニング用品", submission_genre5_path, {class: "text-white"}) %>
                    </th>  
                </tr>
                <tr>
                    <th class="">
                        <%= link_to("口臭ケア用品", submission_genre6_path, {class: "text-white"}) %>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    </div>