<div class="row">
    
    <!--カテゴリ-->
    <div class="col-3">
        <%= render 'category' %>
    </div>
    
    
    <div class="col-9">
        <h3>投稿編集</h3>
    
        <div>
            <%= form_with model: @submission, url: update_submission_path do |f| %>
                <ul>
                    <li class="">
                        <label for="">画像<label>
                        <%= f.file_field :image, accept: "image/*" %>
                    </li>
                    <li class="">
                        <label for="">商品名</label>
                        <%= f.text_field :name %>
                    </li>
                    <li class="">
                        <label for="">ジャンル</label>
                        <%= f.select :genre_id, [['歯ブラシ',1], ['歯磨き粉',2], ['補助的清掃用具',3], ['洗口液',4], ['ホワイトニング用品',5], ['口臭ケア用品',6]] %>
                    </li>
                    <li class="">
                        <label for="">値段</label>
                        <%= f.text_field :price %>円
                    </li>
                    <li class="">
                        <label for="">説明</label>
                        <%= f.text_area :introduction %>
                    </li>
                    <li>
                        <%= f.submit '編集する' %>
                    </li>
                </ul>
            <% end %>
        </div>
    </div>
    
</div>
