<div class="container">
<div class="col-12">
    
    <h3 class="text-secondary my-3"><strong>口臭ケア用品の投稿一覧</strong></h3>
    
    <div class="container">
    <div class="row">    
        <div class="col-5">
          <%= render 'search', keyword: @keyword %>
        </div>
        
        <div class="col-7">
            
            <div>
                <div class="container pb-3 mx-5">
                <% @submissions.each do |submission| %>
                  <% if submission.genre_id == 6 %>
                  <%= link_to public_submission_path(submission.id) do %>
                  <div class="row border border-dark mb-3 pt-3">
                    <div class="col-4">
                      <p class="">
                        <%= image_tag submission.get_image(150,150) %>
                      </p>
                    </div>
                    
                    <div class="col-8">
                      <p class="h5 text-dark">
                        <strong><%= submission.name %></strong>
                      </p>
                      
                      <p class="text-dark text-right">
                        カテゴリ：
                        <% if submission.genre_id == 1 %>
                          歯ブラシ
                        <% elsif submission.genre_id == 2 %>
                          歯磨き粉
                        <% elsif submission.genre_id == 3 %>
                          補助的清掃用具
                        <% elsif submission.genre_id == 4 %>
                          洗口液
                        <% elsif submission.genre_id == 5 %>
                          ホワイトニング用品
                        <% else submission.genre_id == 6 %>
                          口臭ケア用品
                        <% end %>
                      </p>
        
                      <p class="text-dark text-right">
                        <span class="mr-2">♥（<%= submission.favorited_customers.count %>）</span>
                        コメント（<%= submission.reviews.count %>）
                      </p>
                      
                      <p>
                        <div class="text-dark text-right">
                          <%= image_tag submission.customer.get_profile_image(50,50) %>
                          <%= submission.customer.name %>
                        </div>
                      </p>
                      
                      
                    </div>
                  </div>
                  <% end %>
                  <% end %>
                <% end %>
                </div>
            </div>
            
        </div>
    </div>
    </div>
    
</div>
</div>

