<main>
    
    <div>
      <h4>カテゴリ</h4>
        <ul>
            <li><%= link_to "歯ブラシ", submission_genre1_path %></li>
            <li><%= link_to "歯磨き粉", submission_genre2_path %></li>
            <li><%= link_to "補助的清掃用具", submission_genre3_path %></li>
            <li><%= link_to "洗口液", submission_genre4_path %></li>
            <li><%= link_to "ホワイトニング用品", submission_genre5_path %></li>
            <li><%= link_to "口臭ケア用品", submission_genre6_path %></li>
        </ul>
    </div>
    
    
    <h3>歯磨き粉</h3>
    
    <div>
        <% @submissions.each do |submission| %>
          <% if submission.genre_id == 2 %>
          <ul>
            <li class="">
              <%= image_tag submission.get_image(400,400) %>
            </li>
            
            <li class="">
              <label for="">商品名</label>
              <%= submission.name %>
            </li>
            
            <li class="">
              <label for="">ジャンル</label>
              <% if submission.genre_id == 1 %>
                歯ブラシ
              <% elsif submission.genre_id == 2 %>
                歯磨き粉
              <% elsif submission.genre_id == 3 %>
                補助的清掃用具
              <% elsif submission.genre_id == 4 %>
                洗口液
              <% elsif submission.genre_id == 5 %>
                ホワイトニング用品
              <% else submission.genre_id == 6 %>
                口臭ケア用品
              <% end %>
            </li>
            
            <li>
              <%= link_to "詳細", show_submission_path(submission.id) %>
            </li>
          </ul>
          <% end %>
        <% end %>
    </div>
</main>
