<main>
    
     <div class="">
        <h4>カテゴリ</h4>
        <ul>
            <li>歯ブラシ</li>
            <li>歯磨き粉</li>
            <li>補助的清掃用具</li>
            <li>洗口液</li>
            <li>ホワイトニング用品</li>
            <li>口臭ケア用品</li>
        </ul>
    </div>
    
    <h3>投稿一覧</h3>
    
    <div>
      <% @submissions.each do |submission| %>
      <ul>
        <li class="">
          <label for="">画像</label>
          <%= image_tag submission.get_image %>
        </li>
        
        <li class="">
          <label for="">商品名</label>
          <%= submission.name %>
        </li>
        
        <li class="">
          <label for="">ジャンル</label>
          <% if submission.genre_id == 1 %>
            歯ブラシ
          <% elsif submission.genre_id == 2 %>
            歯磨き粉
          <% elsif submission.genre_id == 3 %>
            補助的清掃用具
          <% elsif submission.genre_id == 4 %>
            洗口液
          <% elsif submission.genre_id == 5 %>
            ホワイトニング用品
          <% else submission.genre_id == 6 %>
            口臭ケア用品
          <% end %>
        </li>
        
        <li class="">
          <label for="">値段</label>
          <%= submission.price %>
        </li>
        
        <li class="">
          <label for="">説明</label>
          <%= submission.introduction %>
        </li>
        
        <li>
          <%= link_to "詳細", show_submission_path(submission.id) %>
        </li>
      </ul>
      <% end %>
    </div>
    
</main>