<!DOCTYPE html>
<html>
  <head>
    <title>ShinySmiles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="border-bottom border-3 border-dark">
      <%= link_to root_path do %>
      <h1>Shiny Smiles</h1>
      <% end %>
      
      <ul>
        <% if customer_signed_in? %>
        <li>
          <label><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></label>
        </li>
        
        <% elsif admin_signed_in? %>
        <li>
          <label><%= link_to "投稿", submissions_new_path %></label>
        </li>
        <li>
          <label>ログアウト</label>
        </li>
        
        <% else %>
        <li>検索</li>
        <li><%= link_to "会員登録", new_customer_registration_path %></li>
        <li><%= link_to "ログイン", new_customer_session_path %></li>
        <li></li>
        
        <% end %>
      </ul>
    </header>
    
    <%= yield %>
    
    
  </body>
  
  <footer class="border-bottom border-3 border-dark">
      
  </footer>
</html>
